[Desktop Entry]
Name=Lumen Launcher
Comment=A Minecraft: Bedrock Edition (earlier: Pocket Edition launcher)
Exec=lumen-launcher %U
Icon=lumen-launcher
StartupWMClass=lumen-launcher
MimeType=application/zip
Type=Application
Categories=Game;
Terminal=false
